@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@900&family=Poiret+One&family=Ranchers&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* BRAND START */
.brand {
  color: #47ace6;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Ranchers", cursive;
  text-decoration: none;
  padding-left: 0.7rem;
}
.brand:hover {
  color: #1891d8;
}

.frontimg {
  height: 600px;
  width: 100%;
  opacity: 0.9;
  transition-duration: 1s;
}

/* SECOND CONTAINER */
.container-2 {
  background: #f1ce9f8f;
  padding: 5% 15%;
}

div.container-2 h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

div.container-2 p {
  color: grey;
  font-size: 15px;
  cursor: default;
}

.osmicon {
  color: #ff4c68;
  margin-bottom: 5%;
}

.itm {
  transition-duration: 1s;
  padding: 3% 0;
  cursor: default;
}
.itm:hover {
  font-size: 26px;
}

/* TESTIMONIALS */
.testimonials {
  background-color: #ee4a4a;
  padding: 10% 25%;
  margin-top: 30px;
}

div.testimonials h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 25px;
}

div.testimonials img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0 2rem;
}

/* Card-Section */
.card {
  height: 530px;
  margin: 3% 0;
  transition-duration: 0.5s;
}
.card:hover {
  box-shadow: 2px 2px 10px 3px #f1ce9f8f, -2px -2px 10px 3px #f1ce9f8f;
}

.card-text {
  font-family: "Comfortaa", cursive;
  padding-bottom: 30px;
}

.card-header {
  font-family: "Montserrat", sans-serif;
}

.dogsimg {
  height: 200px;
  width: 220px;
  margin: auto;
}

.dog-header {
  font-family: "Poiret One", cursive;
  font-weight: 900;
  font-size: 50px;
  background-image: linear-gradient(to bottom, #f1ce9f8f, #fff);
  color: #ee4a4a;
  transition-duration: 2s;
  cursor: default;
}

/* FOOTER DESIGN */

.foot {
  background-color: #c9c9c9;
  padding: 3% 15%;
}

ul {
  list-style-type: none;
}

.custom-bottom {
  width: 150px;
  height: 48px;
  border-radius: 8px;
  font-size: 20px;
}

.fb-color:hover {
  color: #4267b2;
}

.insta-color:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.twitter-color:hover {
  color: #1da1f2;
}

.whatsapp-color:hover {
  color: #25d366;
}

.linkedin-color:hover {
  color: #0077b5;
}

.fb-color,
.insta-color,
.whatsapp-color,
.twitter-color,
.linkedin-color {
  width: 30px;
  overflow: hidden;
  white-space: nowrap;
  transition-duration: 0.3s;
  cursor: pointer;
}

.fb-color:hover,
.insta-color:hover,
.twitter-color:hover {
  width: 80px;
}

.whatsapp-color:hover,
.linkedin-color:hover {
  width: 100px;
}
